body{
     background-color:rgb(252, 142, 40);
}
.head{
     color:rgb(2, 2, 255);
}
#bglime{
    background-color:lime;   
}
.red {
    color:red;
}
p{
    color:white;
}
#para{
    color:rgb(6, 107, 6);
}
.black{
    font-size:25px;
    color:black;
}
